<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo%}{% endblock%}</title>
    <link rel="shortcut icon" href="/static/naruto.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones" rel="stylesheet">

</head>
<body class="flex flex-col min-h-screen">

    <header class="bg-gradient-to-r from-indigo-800 from-10% via-sky-700 via-50% to-sky-600 to-90%">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="{{ url_for('home') }}" class="-m-1.5 p-1.5">
              <span class="sr-only">Trone</span>
              <img class="h-12 w-auto" src="/static/trono.svg" alt="Trono Icono">
              <div class="ml-2 font-bold font-mono text-center flex flex-col justify-center h-12">
                <a href="/home"><img src="https://fontmeme.com/permalink/231012/e477bae95f5cef7e5a15e345eca1a394.png" alt="fuente-de-juego-de-tronos" border="0"></a>
              </div>

            </a>
          </div>
          <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            <!-- <a href="/home" class="text-sm font-semibold leading-6 text-white hover:text-sky-500">Home</a>
            <a href="/dialogo" class="text-sm font-semibold leading-6 text-white hover:text-sky-500">Generar Dialogo</a>
            <a href="/" class="text-sm font-semibold leading-6 text-white hover:text-sky-500">About us</a> -->
          </div>
          <div class="hidden lg:flex lg:flex lg:gap-x-12">
            <a href="/home" class="text-sm font-semibold leading-6 text-white hover:font-bold hover:text-sky-900 hover:text-lg">Home</a>
            <a href="/dialogo" class="text-sm font-semibold leading-6 text-white hover:font-bold hover:text-blue-800 hover:text-lg">Generar Dialogo</a>
            <a href="/" class="text-sm font-semibold leading-6 text-white hover:font-bold hover:text-emerald-800 hover:text-lg">About us</a>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="lg:hidden" role="dialog" aria-modal="true">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0 z-10"></div>
          <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
              </a>
              <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a href="/home" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-sky-600">Home</a>
                  <a href="/dialogo" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Generar Dialogo</a>
                </div>
                <div class="py-6">
                  <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

    <!-- Main content area -->
    <div class="flex-1 items-center justify-center bg-gradient-to-r from-sky-800 from-10% via-s-600 via-70% to-slate-200 to-90%">
        {% block contenido %}

        {% endblock %}
    </div>

    <footer class="bg-gradient-to-r from-indigo-800 from-10% via-sky-700 via-50% to-sky-600 to-90% py-4 text-white text-center">
        <p class="pb-4 text-sm">&copy; ThroneTalks. All rights reserved.</p>
        <p class="text-sm">⚔️ Conversaciones unicas entorno al mundo de Game of Thrones ⚔️</p>
    </footer>
      
      
    
</body>
</html>