{% extends 'base.html' %}

{% block titulo %} Index {% endblock %}

{% block contenido %}




    <div class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
        <img src="/static/111111.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover opacity-20">
        <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
          <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
          <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl" style="font-family: 'Game of Thrones';">ThroneTalks</h2>
          <p class="mt-10 text-lg leading-8 text-gray-300">"ThroneTalks" te sumerge en el universo de Game of Thrones, donde generas diálogos únicos entre icónicos personajes. Selecciona dos personajes de la base de datos y, con OpenAI, crea diálogos con control sobre tono de conversacion y longitud. Los fanáticos de la serie disfrutarán explorando y generando conversaciones únicas entre personajes icónicos de Westeros. </p>
          <button class="my-8 bg-gradient-to-r from-sky-900 from-20% via-sky-600 via-70% to-slate-400 to-90% hover:bg-sky-200 text-white font-bold py-2 px-4 rounded-full"><a href="/dialogo">Generar Dialogo</a></button>
        </div>
      </div>
      


{% endblock %}
